{% extends "admin.html" %}
{% block title %}<h2>Ficha de {{name}}</h2>{% endblock title %}
{% block content %}
<list>
    <ul>Autor : {{author}}</ul>
    <ul>Estado : {{state}}</ul>
    <ul>Colección : {{collection}}</ul>
    {% if state == 'Prestado' %}
    <ul>Prestado a : {{taker}} </ul>
    {% endif %}

</list>
<p>----------------------------------------------</p>
<list>
    <a href="{%url 'books' %}">Volver a la lista</a>
    <a href="{% url 'index'%}">Volver al menú</a>
</list>
{% endblock content %}
