{% load staticfiles %}
<h1>Tus libros</h1>
<list>
{% for book in books %}
    <ul><a href="{%url 'book' book.id %}">{{book.name}}</a>
        {% if book.taken == True %}
        <span>Prestado</span>
        {% endif %}
    </ul>
         <a href="{%url 'booktk' book.id%}">Prestar libro</a>
         <a href="{%url 'bookuntk' book.id%}">Devolver libro</a>
         <a href="{%url 'bookdlt' book.id%}">Borrar libro</a> <br>
{% endfor %}
</list>
<br>
<p>----------------------------------------------------------</p>
<br>
<list>
    <a href="{%url 'books' %}">Volver a la lista</a>
    <a href="{% url 'index'%}">Volver al menú</a>
</list>
