{% extends "admin.html" %}
{% load static %}
{% block title %}
<h1>Tus libros</h1>
{% endblock title %}
{% block content %}
<list>
{% for book in books %}
<div style="background-color : #99a8c1">
    <ul><a href="{%url 'book' book.id %}"><button type="button" class="btn btn-default">{{book.name}}</button></a>
    {% if book.taken == False %}
    <a href="{%url 'booktk' book.id%}"><button type="button" class="btn btn-primary">Prestar Libro</button></a>
    {% elif book.taken == True %}
    <a href="{%url 'bookuntk' book.id%}"><button type="button" class="btn btn-primary">Devolver Libro</button></a>
    {% endif %}
    <a href="{%url 'editbook' book.id%}"><button type="button" class="btn btn-warning">Editar Libro</button></a>
    <a href="{%url 'bookdlt' book.id%}"><button type="button" class="btn btn-danger">Borrar Libro</button></a>
        {% if book.taken == True %}
        <span>Prestado</span>
        {% endif %}
    </ul>
</div>
{% endfor %}
</list>
<div style="text-align : center">
    <a href="{%url 'books' %}"><button type="button" class="btn btn-primary">Volver a la lista</button></a>
    <a href="{%url 'index' %}"><button type="button" class="btn btn-primary">Volver al menú</a></button></a>
</div>
{% endblock content %}
