{% extends "admin.html" %}
{% block title %}<h2>Mis Colecciones</h2>{% endblock title %}
{% block content %}
<list>
{% for collection in collections %}
    <ul><a href="{%url 'collection' collection.id%}"><button type=button class="btn btn-default">{{collection.name}}</button></a>
        <br>Libros {{collection.count_books}} : {{collection.books}}
        <a href="{% url 'collectionEdit' collection.id %}"><button type="button" class="btn btn-warning">Editar</button></a></ul><br>
{% endfor %}
{% endblock content %}
