{% extends "admin.html" %}
{% block title %}
<h2><span>Bookieman </span><span class="glyphicon glyphicon-book"></span></h2>
{% endblock title %}
{% block content %}
</div class="navbar-left">
<list>
<ul><a href="{%url 'books' %}">Ver libros </a><br></ul>
<ul><a href="{%url 'collections' %}">Ver colecciones</a><br></ul>
<ul><a href="{%url 'newbook' %}">Agregar un libro</a></ul>
<ul><a href="{%url 'newcollection' %}">Agregar una colección</a><br></ul>
</list>
<br>
<br>
<br>
<br>
{% endblock content %}
