
<h2>Bookieman</h2><br>
<br>
<br>
<list>
<ul><a href="{%url 'books' %}">Ver libros </a><br></ul>
<ul><a href="{%url 'collections' %}">Ver colecciones</a><br></ul>
<ul><a href="{%url 'newbook' %}">Agregar un libro</a></ul>
<ul><a href="{%url 'newcollection' %}">Agregar una colleccion</a><br></ul>
<ul><a>Buscar una coleccion</a><br></ul>
<ul><a>Buscar un libro</a><br></ul>
</list>
<br>
<br>
<br>
<br>
<a href="http://www.github.com/kaozdl/bookieman/issues" target=blank>Bugs</a>
<a href="http://www.github.com/kaozdl" target=blank>Otros proyectos</a>
